head
  title= title
  link(href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Lato")
  link(href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="/css/style.css" rel="stylesheet")
