nav(class="black lighten-1" role="navigation")
  div(class="nav-wrapper container")
    a(id="logo-container" href="/" class="brand-logo") Express Coding Challenge
    ul(class="right hide-on-med-and-down")
      li
        a(href="/login") Sign Up/In
      li
        a(href="/profile") Profile
      li
        a(href="/users") View All Users
      li
        a(href="/logout") Logout

    ul(id="nav-mobile" class="sidenav")
      li
        a(href="/login") Sign Up/In
      li
        a(href="/profile") Profile
      li
        a(href="/users") View All Users
      li
        a(href="/logout") Logout

    a(href="#" data-target="nav-mobile" class="sidenav-trigger")
      i(class="material-icons") menu
